.mainContainer {
  padding: 30px;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  min-width: 671px;
  box-sizing: border-box;
}

.headerActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.variationsSelector {
  width: 275px;
  padding-left: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.periodsSelector {
  width: 80px;
}

.lineTypeSelector {
  width: 100px;
}

.downloadBtn {
  border: 1px solid #d9d9d9;
  background: #ffffff;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  margin-left: 15px;
}

.chartContainer {
  width: 100%;
  height: 600px;
  font-size: 14px;
}
.rightGroupActions {
  display: flex;
  align-items: center;
}

.themeSelector {
  margin-left: 15px;
  width: 130px;
}

.lineChart {
  width: 100%;
  height: 100%;
}

.themeOption {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.zoomIn {
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 17px;
  cursor: pointer;
  margin-left: 15px;
  border: 1px solid #d9d9d9;
  background: #ffffff;
}

.zoomOut {
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  background: #ffffff;
}

.refreshBtn {
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 17px;
  cursor: pointer;
  margin-left: 15px;
  background: none;
  border: none;
}
