.mainContainer {
  padding: 30px;
}

.variationsSelector {
  width: 275px;
  padding-left: 30px;
  margin-right: 15px;
}

.periodsSelector {
  width: 80px;
}

.chartContainer {
  width: 100%;
  height: 600px;
  max-width: 1100px;
  padding: 30px;
  font-size: 14px;
}

.lineChart {
  width: 100%;
  height: 100%;
}
