.navbar {
    display: flex;
    flex-direction: column;
    width: 210px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.navbar a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.2s;
    margin: 12px 0;
}

.navbar a:hover {
    color: #a8adb0;
}

//@media (max-width: 250px) {
//    .navbar {
//        position: relative;
//        width: 100%;
//        height: auto;
//        flex-direction: row;
//        justify-content: space-around;
//    }
//
//    .navbar a {
//        margin: 0;
//        padding: 10px;
//    }
//}
