.undefinedVideo {
  text-align: center;
  font-size: 30px;
  border: 1px solid rgba(171, 169, 169, 0.3);
  padding-top: 200px;
  padding-bottom: 200px;
  border-radius: 10px;
}

.videoPlayer {
  margin-top: 150px;
  border: none;
}

.iframePlayer {
  width: 100%;
  height: 800px;
  border: none;
  border-radius: 3px;
}

.similarMoviesContainer {
  margin-top: 70px;
}

.similarMovieTitle {
  margin-bottom: 28px;
  font-size: 20px;
  font-weight: 900;
}

.similarMovieItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 130px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.similarMoviePoster {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.similarMovieName {
  padding: 8px;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.similarMovieList {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 0;
}

.similarMoviePoster:hover {
  scale: 1.05;
}
