.wrapperJoinRow {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
}

.poster {
  max-width: 450px;
  min-width: 200px;
}

.addToFavorites {
  padding: 2px 4px;
  color: #8e8e8e;
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  cursor: pointer;
  float: right;
  margin-right: auto;
  transition: all 50ms ease-in-out;
}

.addToFavorites:hover {
  color: #FF3D00;
  scale: 1.05;
  text-decoration-line: underline;
}

.favoritesImg {
  margin: 0;
  padding-left: 5px;
  padding-top: 2px;
  display: flex;
  contain: unset;
  visibility: inherit;
}

img {
  width: 100%;
  border-radius: 10px;
}

a {
  cursor: pointer;
}

a:hover {
  color: #FF3D00;
}

.mainMovieInfo {
  max-width: 620px;
  min-width: 270px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 10px;
  padding-top: 20px;
  line-height: 42px;
}

.subtitle {
  margin-bottom: 10px;
  line-height: 19px;
  font-size: 16px;
  font-weight: 400;
  color: #8e8e8e;
}

.description {
  margin-bottom: 30px;
  font-size: 16px;
}

.subcontainer {
  margin-bottom: 40px;
}

.params {
  list-style-type: none;
}

.params li {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-gap: 30px;
  width: 100%;
  font-size: 16px;
}

.tag {
  font-size: 12px;
  font-weight: 400;
  padding: 3px 5px;
  border-radius: 6px;
  border: 1px solid #FFFFFF;
  display: inline-block;
  margin-top: -3px;
}

.textMuted {
  color: #aaa;
}

.btn {
  display: inline-block;
  background-color: #FF5C00;
  color: white !important;
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  background-color: #FF3D00;
  color: white;
}
