.wrapper {
  padding-left: 15px;
  color: #8e8e8e;
  display: flex;
  flex-direction: column;
  max-width: 180px;
  min-width: 180px;
}


.typesSearch div, .typesSearch span {
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.typesSearch div:hover, .typesSearch span:hover {
  color: #FFFFFF;
}

.typesSearch, .genresSearch, .yearSearch {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  border-bottom: 1px solid rgba(171, 169, 169, 0.3);
  cursor: pointer;
  transition: all 200ms ease-in-out;
  font-size: 16px;
}

.genresSearch div {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.genresSearch div:hover {
  color: #FFFFFF;
}

.chosen {
  border-radius: 5px;
  color: white;
  background-color: rgba(171, 169, 169, 0.2);
}

.yearSearchTitle {
  padding-bottom: 15px;
}
