* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", serif;
    font-size: 18px;
    background-color: #000000;
    color: #ffffff;
}

img {
    width: 100%;
    border-radius: 10px;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 900;
}

a:hover {
    color: #FF3D00;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: inherit;
    background-color: #141414;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    position: fixed;
}

.container {
    display: flex;
    flex: 1;
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;

}

.wrapper-sidebar {
    padding-left: 15px;
    color: #8e8e8e;
    display: flex;
    flex-direction: column;
    max-width: 180px;
    min-width: 180px;
}

.wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    padding: 5px 55px 5px 55px;
}

.header .search-container {
    display: grid;
    grid-template-columns: 200px 1fr 100px;
    grid-gap: 80px;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: inherit;
}

.nav-brand {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

.form-search {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    background-color: hsla(0, 0%, 100%, .15);
    border-radius: 10px;
    transition: all 0.9ms ease-in-out;
    max-width: 600px;
    position: relative;
}

#search-input {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 8px 4px 8px 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    background: transparent;
    font-family: inherit;
    flex-grow: 1;
}

.btn-search {
    opacity: 0.4;
    padding: 0 8px;
    cursor: pointer;
    background: transparent;
}

.preloader-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

#preloader {
    width: 70px;
    height: 70px;
    border: 8px solid rgba(248, 250, 253, 0.7);
    border-radius: 70%;
    border-left-color: rgba(167, 171, 176, 0.9);
    animation: loader 1.3s linear infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}
